@font-face {
  src: url("../fonts/Rubik-Bold.ttf");
  font-family: "Rubik";
}

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: transparent;
  background-image: url(../img/TEKKEN.jpg);
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  color: black;
  font-family: "Rubik";
}

.commentary {
  position: absolute;
  left: 0px;
  top: 0px;
}

.commentator {
  position: absolute;
  width: 654px;
  height: 96px;
  line-height: 96px;
  text-align: center;
  top: 934px;
  font-size: 50px;
  background-color: white;
  border-radius: 0px 3px 3px 0px;
}

.icon {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 934px;
  line-height: 96px;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
  background-color:#151515;
}

.team {
  color: #ce0e0e;
}

#commentator--container-1 {
  left: 154px;
  text-align: center;
}

#commentator--container-2 {
  left: 1112px;
  text-align: center;
}

#icon--container-1 {
  left: 58px;
  text-align: center;
}

#icon--container-2 {
  left: 1766px;
  text-align: center;
}

#logo--container {
  
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 860px;
  top: 875px;
}